async-timeout==4.0.2
Deprecated==1.2.13
Django==2.2.10
djangorestframework==3.13.1
mysqlclient==2.1.0
packaging==21.3
PyMySQL==1.0.2
pyparsing==3.0.9
pytz==2022.1
redis==4.3.1
sqlparse==0.4.2
wrapt==1.14.1
djangorestframework-jwt==1.11.0
django-cors-headers